body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	pointer-events: all !important;
}

html {
	height: 100%;
}

* {
	box-sizing: border-box;
}

.testclass .ReactVirtualized__Table__row:last-child div div {
	border-bottom: 0;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
}
